cratus.sublime-project
# Ignore Mac stuff
.DS_Store

# Ignore temporary stuff
tmp/
testing/

# Ignore built gem files
*.gem

# Ignore doc files
doc/
.yardoc


# ignore sublime text project
*.sublime-workspace
